.disabled {
  :global {
    .ant-card {
      background: #f1f3f5;
      cursor: not-allowed;
    }
  }
}

@warning-color: #ec5050;
.warning {
  :global {
    .ant-card-head {
      background-color: @warning-color;
      color: #fff;
    }
    .ant-card-bordered {
      border-color: @warning-color;
    }
  }
  h4 {
    color: #fff;
  }
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.machine {
  padding: 5px;
  transition: 1s all;
  opacity: 1;
  :global {
    .ant-card-head-title {
      padding: 8px 0;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .title {
      font-size: 24px;
    }
  }
  .inlineForm {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    label {
      width: 30%;
      user-select: none;
    }
    .item {
      width: 50%;
    }
    &:not(first-child) {
      margin-top: 10px;
    }
    .block {
      color: #656565;
      margin-top: 5px;
    }
  }
  .action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.locklist {
  padding: 10px;
  li {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    &:first-child {
      padding-bottom: 5px;
      margin-bottom: 5px;
      font-weight: bold;
      border-bottom: 1px solid #f2f2f2;
    }
  }
}