.dateRange {
  :global(.ant-calendar-picker) {
    width: 200px;
  }

  display: flex;
  justify-content: flex-end;
}

.header {
  margin-top: 20px;

  .desc {
    font-size: 15px;
    margin: -5px 0 5px 0;
  }
}

.exCard {
  :global(.ant-card-head) {
    padding: 0 12px;
  }
}

.bold {
  font-weight: bold;
}

.user-tips {
  font-weight: bold;
  color: #e44;
}

.detailInfo {
  padding-inline-start: 0px;

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;

    span {
      &:nth-child(1) {
        font-weight: bold;
      }
    }
  }
}

.cartListTitle {
  span {
    border-bottom: 1px solid #e7505a;
    text-transform: uppercase;
    margin: 0 0 -1px 0;
    display: inline-block;
    font-size: 16px;
    padding: 0 10px 0 0;
  }

  border-bottom: 1px solid #cdcdcd;
  color:#444;
}

.cartList {
  padding-inline-start: 0px;
  border: 1px solid #cdcdcd;
  border-top: none;

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    padding-left: 10px;

    &:nth-child(even) {
      background: #e9f3ff;
    }

    &:nth-child(1) {
      font-weight: bold;
    }

    &:not(:nth-child(1)) {
      &:hover {
        background: #f0f0f0;
      }
    }

    span {
      flex: 1;

      &:nth-child(1) {
        flex: 0.6;
      }

    }
  }
}
